/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input             = "${projectDir}/tests/data/samplesheet.csv"
    reference_sheet   = "${projectDir}/tests/data/reference_sheet.csv"
    skip_reference_download = true
    outdir              = "${launchDir}/results"
    skip_ddh            = true
    skip_intra_genus_ani = false
    skip_heatmap        = true
}

process {
    resourceLimits = [
        cpus: 2,
        memory: '4.GB',
        time: '1.h'
    ]
}
